/*@import*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(
    rgba(0, 21, 56, 1) 0%,
    rgba(0, 18, 47, 1) 35%,
    rgba(0, 11, 31, 1) 100%
  );
  color: #fff;
}

header {
  margin-bottom: 500px;
}

.main-menu {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  z-index: 100;
}

.main-menu:hover {
  border-bottom: 3px solid green;
}

.logo-box {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-menu {
  height: auto;
  width: 60%;
}

.menu {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.menu-item {
  flex-basis: 11%;
  text-decoration: none;
  color: white;
}

.icon-menu {
  height: auto;
  width: 5%;
}

.compte-box {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compte-box p {
  color: #fff;
  padding: 0px 20px 0px 20px;
}

.dropbtn {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.dropbtn:hover,
.dropbtn:focus {
  /*background-color: #2980B9;*/
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-box {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-box a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-box a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*----------------Section ressource---------------------*/
.ressourceEducative {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ressourceBox {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.ressourceContainer {
  z-index: -1000;
  flex-basis: 20%;
  max-width: 650px;
  padding: 50px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.ressourceContainer h4 {
  text-align: center;
}
/* mission et historique */
.videoContainer {
  z-index: 2;
  flex-basis: 20%;
  max-width: 650px;
  padding: 50px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

/* Projet et nouveauté */
.projetNouveauté {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 500px;
}

.project {
  z-index: 3;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.project1 {
  margin-bottom: 15px;
}

.project2 {
  margin-top: 15px;
}

.projectBtn a {
  text-decoration: none;
  color: green;
}

/*blogue*/

.blogue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogueArticleContainer {
  z-index: 3;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

/* formulaire */
.contactSpace {
  display: flex;
  justify-content: space-evenly;
}

.barrePrenom {
  border-top: 2px solid green;
  width: 99px;
  position: absolute;
  left: 481px;
}

.barrenom {
  border-top: 2px solid green;
  width: 126px;
  position: absolute;
  left: 454px;
}
.barreCourriel {
  border-top: 2px solid green;
  width: 100px;
  position: absolute;
  left: 481px;
}
.barreSujet {
  border-top: 2px solid green;
  width: 120px;
  position: absolute;
  left: 460px;
}

.barreMessage {
  border-top: 2px solid green;
  width: 30px;
  position: absolute;
  left: 542px;
}
