:root {
  --color-bg: #001538;
  --color-blue: #21c4fd;
  --color-white: #fff;
}

@font-face {
  font-family: CeraBold;
  src: url(../fonts/Cera\ Pro\ Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: CeraLight;
  src: url(../fonts/Cera\ Pro\ Light.otf);
}

@font-face {
  font-family: CeraMedium;
  src: url(../fonts/Cera\ Pro\ Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: CeraMedium;
  background: var(--color-bg);
  color: #fff;
  overflow-x: hidden;
}

/* -------------------- Classe générale -------------------- */

.moreBtn {
  margin: 100px 0px;
}

.moreBtn a {
  text-decoration: none;
  color: var(--color-white);
  font-family: CeraLight;
  font-size: 2rem;
}

.section-title {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 60%;
  margin: 100px 0px;
}

.section-title h2 {
  font-size: 2.5rem;
  font-family: CeraBold;
  border-bottom: #003a9a solid 3px;
  text-transform: uppercase;
}

.blue {
  color: var(--color-blue);
}

.green {
  color: #22e28d !important;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mini-title {
  text-transform: uppercase;
  padding: 0 0 10px 0;
  font-size: 2.1rem;
  font-family: CeraBold;
}

.margin-bottom {
  margin-bottom: 100px;
}

.margin-top {
  margin-top: 200px;
}

.absolute-img-left {
  position: absolute;
  z-index: -1;
  left: -10%;
  width: auto;
  height: 90%;
}

.absolute-img-right {
  position: absolute;
  z-index: -1;
  right: -10%;
  width: auto;
  height: 90%;
  overflow: hidden;
}

/* ----- Fond Marin ----- */

.fond-marin {
  position: absolute;
  z-index: 2;
}

.fond-mission-left {
  left: 0;
  bottom: -50px;
}

.fond-soutenir-left {
  left: -50px;
  bottom: 0;
}

.fond-soutenir-right {
  right: 0;
  bottom: 0;
}

.fond-equipage-left {
  left: 0;
  top: 0;
}

/* -------------------- Vagues -------------------- */

/* ----- Vague Bas Foncée ----- */

.custom-shape-divider-bottom-1637071016 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 3;
}

.custom-shape-divider-bottom-1637071016 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-bottom-1637071016 .shape-fill {
  fill: var(--color-bg);
}

/* ----- Vague Bas Claire ----- */

.custom-shape-divider-bottom-1637072263 {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.custom-shape-divider-bottom-1637072263 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-bottom-1637072263 .shape-fill {
  fill: #003a9a;
}

/* ----- Vague Haut Foncée ----- */

.custom-shape-divider-top-1637115725 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
}

.custom-shape-divider-top-1637115725 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-top-1637115725 .shape-fill {
  fill: var(--color-bg);
}

/* ----- Vague Haut Claire ----- */

.custom-shape-divider-top-1637115932 {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.custom-shape-divider-top-1637115932 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-top-1637115932 .shape-fill {
  fill: #003a9a;
}

/* -------------------- Menu Principale -------------------- */

.main-menu {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  z-index: 100;
  text-transform: uppercase;
  transition: 100ms ease border-bottom;
  transition: 800ms ease background-color;
}

.logo-box {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-menu {
  height: auto;
  width: 60%;
  cursor: pointer;
  z-index: 3;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.btn-menu {
  text-transform: uppercase;
}

.btn-color-hover {
  transition: all 200ms ease;
}

.btn-color-hover:hover {
  color: #22e28d;
}

.menu {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.menu-item {
  flex-basis: 11%;
  text-decoration: none;
  color: var(--color-white);
}

.souvenir-btn {
  background-color: var(--color-blue);
  padding: 10px 25px;
  border-radius: 2px;
  transition: all ease 200ms;
}

.souvenir-btn:hover {
  background-color: #22e28d;
}

.icon-menu {
  height: auto;
  width: 5%;
}

.compte-box {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compte-box p {
  color: var(--color-white);
  padding: 0px 20px 0px 20px;
}

.dropbtn {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  color: var(--color-white);
  font-family: CeraMedium;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 12px 0px;
  transition: all 200ms ease;
}

.dropbtn:hover,
.dropbtn:focus {
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-box {
  display: none;
  position: absolute;
  background-color: #001538ea;
  min-width: 160px;
  z-index: 1;
}

.drop-box a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-box a:hover {
  background-color: #003a9a;
}

.show {
  display: block;
}

/* -------------------- Header -------------------- */

.header-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/fond_header.png);
  background-position: center;
  background-size: cover;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-blue);
  padding-bottom: 10px;
  margin-top: 100px;
  width: 40%;
  z-index: 3;
}

.search-bar {
  flex-basis: 90%;
  background: none;
  border: none;
  color: var(--color-white);
  padding: 10px;
  font-family: CeraLight;
  font-size: 1.5rem;
}

.search-bar::placeholder {
  color: var(--color-white);
  opacity: 1;
  font-family: CeraLight;
}

.search-bar:focus {
  background: none;
  border: none;
  outline: none;
}

.icon-recherche {
  height: auto;
  width: 10%;
  padding-right: 10px;
}

.mer {
  position: absolute;
  z-index: 0;
  bottom: -225px;
  left: 0;
}

.bateau {
  position: absolute;
  z-index: 1;
  right: -200px;
  bottom: 258px;
  animation: bateau-animation 100s infinite linear;
}

.phoque {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  right: 210px;
}

.phare {
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: -300px;
}

@keyframes bateau-animation {
  0% {
    right: -200px;
  }
  100% {
    right: 1920px;
  }
}

/* -------------------- Ressources Éducatives -------------------- */

.ressourceEducative {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg);
  height: 100%;
  position: relative;
  z-index: 4;
}

.ressourceBox {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.ressourceContainer {
  flex-basis: 30%;
  border: 2px solid var(--color-blue);
  background-color: #002250;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ressource-info {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}

.ressource-img {
  height: 40%;
}

.info h4 {
  font-family: CeraBold;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: underline var(--color-blue);
}

.text {
  padding: 20px 0px 10px 0px;
  font-size: 1.2rem;
}

.date {
  font-size: 0.8rem;
}

.tags {
  display: flex;
}

.tags p {
  padding: 5px 10px;
  margin-right: 20px;
  background-color: #003a9a;
  font-family: CeraLight;
}

/* -------------------- Mission et Historique -------------------- */

.missionHistorique {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-image: url(../img/fond_mission.png);
  background-position: center;
  background-size: cover;
}

.mission-title {
  margin-top: 0px;
}

.histoire-text {
  width: 60%;
  display: flex;
  align-items: left;
  margin-bottom: 50px;
}

.histoire-text p {
  width: 70%;
  font-size: 1.8rem;
}

.histoireBtn-box {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.histoireBtn {
  background: var(--color-blue);
  padding: 10px 40px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: CeraBold;
}

.histoireBtn a {
  text-decoration: none;
  color: var(--color-white);
}

/* -------------------- Projets et Nouveauté -------------------- */

.projetNouveauté {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg);
  height: 100%;
  position: relative;
  z-index: 4;
}

.projetNouveauté article {
  z-index: 1;
}

.project-box {
  width: 60%;
}

.project-container {
  border: 2px solid var(--color-blue);
  background-color: #002250;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project-info {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}

.project-img {
  height: 250px;
}

.projet-date {
  padding: 25px 0;
}

/* -------------------- Nous Soutenir -------------------- */

.nousSoutenir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-image: url(../img/fond_soutenir.png);
  background-position: center;
  background-size: cover;
}

.title-box-soutenir {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soutenir-title {
  text-transform: uppercase;
  font-family: CeraBold;
  font-size: 3.5rem;
}

.soutenir-text {
  margin: 10px 0px 30px 0px;
  font-size: 2rem;
  font-family: CeraLight;
}

.supportBtn {
  background: var(--color-blue);
  padding: 10px 40px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: CeraBold;
}

.supportBtn a {
  text-decoration: none;
  color: var(--color-white);
}

/* -------------------- Média Sociaux -------------------- */

.mediaSociaux {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg);
  height: 100%;
  position: relative;
  z-index: 4;
}

.media-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 200px;
}

.media {
  flex-basis: 30%;
  height: 600px;
  border: 2px solid var(--color-blue);
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-facebook {
  background-image: url(../img/pugholder.png);
}

.img-tiktok {
  background-image: url(../img/pugholder_2.jpg);
  transform: translate(0, 200px);
}

.img-instagram {
  background-image: url(../img/pugholder_3.jpg);
}

.logo-relatif {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------- Partenaire -------------------- */

.partenaireContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-image: url(../img/fond_partenaire.png);
  background-position: bottom;
  background-size: cover;
}

.partenaire {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.partenaire div {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 200px;
}

.logo-partenaire {
  width: 40%;
  height: auto;
}

/* -------------------- Blogue -------------------- */

.blogue {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg);
  height: 100%;
  position: relative;
  z-index: 4;
}

/* -------------------- Équipage -------------------- */

.équipage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 21, 56, 0.3), rgba(0, 21, 56, 0.5)),
    url(../img/fond_equipage.png);
  background-position: center;
  background-size: cover;
}

.equipage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.equipage-box {
  flex-basis: 42%;
  display: flex;
  align-items: left;
  margin-bottom: 75px;
}

.equipage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.equipage-text h3 {
  font-weight: 250;
  font-size: 2rem;
}

.equipage-text p {
  font-family: CeraLight;
  font-size: 1.5rem;
}

.img-equipage {
  height: auto;
  width: 45%;
  border: 3px solid var(--color-blue);
  border-radius: 50%;
}

/* -------------------- Contact -------------------- */

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: var(--color-bg);
  position: relative;
  z-index: 4;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

/* ----- Formulaire ----- */

form {
  flex-basis: 50%;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-bottom: 35px;
}

.form-section label {
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-right: 15px;
}

.form-section input {
  height: 40px;
  background: #000f27;
  border: #003a9a 2px solid;
  text-decoration: none;
  padding: 10px;
  color: #f1f1f1;
}

.form-section input::placeholder {
  color: #003a9a;
  opacity: 1;
  font-family: CeraLight;
}

.form-section input:focus {
  outline: none;
}

.name-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  flex-basis: 46%;
}

.line-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border-color: var(--color-blue);
  width: 100%;
}

.area-box {
  background: #000f27;
  border: #003a9a 2px solid;
  padding: 10px;
  color: var(--color-white);
  resize: none;
  width: 100%;
  height: 150px;
}

.area-box::placeholder {
  color: #003a9a;
  opacity: 1;
  font-family: CeraLight;
}

.area-box:focus {
  outline: none;
}

/* ----- Informations de contact ----- */

.contact-box {
  flex-basis: 40%;
}

.logo-contact {
  margin-bottom: 30px;
}

.contact-box p {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.color-text {
  font-family: CeraLight;
}

/* -------------------- Footer -------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
  height: 20vh;
}

.footer-text {
  border-right: #22e28d 2px solid;
  padding-right: 10px;
  margin-right: 10px;
}

/* -------------------- Section tablette -------------------- */

/* -------------------- Section mobile -------------------- */
