@font-face {
  font-family: CeraBold;
  src: url(../fonts/Cera\ Pro\ Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: CeraLight;
  src: url(../fonts/Cera\ Pro\ Light.otf);
}

@font-face {
  font-family: CeraMedium;
  src: url(../fonts/Cera\ Pro\ Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: CeraMedium;
  background: rgb(49, 49, 110);
  color: #fff;
}

/* -------------------- Classe générale -------------------- */

.moreBtn {
  margin: 100px 0px;
}

.moreBtn a {
  text-decoration: none;
  color: #ffffff;
  font-family: CeraLight;
  font-size: 2rem;
}

.section-title {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 60%;
  margin: 100px 0px;
}

.section-title h2 {
  font-size: 2.5rem;
  font-family: CeraBold;
  border-bottom: #003a9a solid 3px;
  text-transform: uppercase;
}

.title-color {
  color: #21c4fd;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mini-title {
  text-transform: uppercase;
  padding: 0 0 10px 0;
  font-size: 2.1rem;
  font-family: CeraBold;
}

.margin-bottom {
  margin-bottom: 100px;
}

.absolute-img-left {
  position: absolute;
  z-index: 0;
  left: -10%;
  width: auto;
  height: 90%;
}

.absolute-img-right {
  position: absolute;
  z-index: 0;
  right: -10%;
  width: auto;
  height: 90%;
  overflow: hidden;
}

/* ----- Fond Marin ----- */

.fond-marin {
  position: absolute;
  z-index: 2;
}

.fond-mission-left {
  left: 0;
  bottom: -50px;
}

.fond-soutenir-left {
  left: -50px;
  bottom: 0;
}

.fond-soutenir-right {
  right: 0;
  bottom: 0;
}

/* -------------------- Vagues -------------------- */

/* ----- Vague Bas Foncée ----- */

.custom-shape-divider-bottom-1637071016 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 3;
}

.custom-shape-divider-bottom-1637071016 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-bottom-1637071016 .shape-fill {
  fill: #001538;
}

/* ----- Vague Bas Claire ----- */

.custom-shape-divider-bottom-1637072263 {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.custom-shape-divider-bottom-1637072263 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-bottom-1637072263 .shape-fill {
  fill: #003a9a;
}

/* ----- Vague Haut Foncée ----- */

.custom-shape-divider-top-1637115725 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
}

.custom-shape-divider-top-1637115725 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-top-1637115725 .shape-fill {
  fill: #001538;
}

/* ----- Vague Haut Claire ----- */

.custom-shape-divider-top-1637115932 {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.custom-shape-divider-top-1637115932 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 158px;
}

.custom-shape-divider-top-1637115932 .shape-fill {
  fill: #003a9a;
}

/* -------------------- Menu Principale -------------------- */

.main-menu {
  width: 100%;
  position: fixed;
  top: 0;
  /*background-color: #001538;*/
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  z-index: 100;
  text-transform: uppercase;
  /*border-bottom: 2.5px solid #21c4fd;*/
}

.logo-box {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-menu {
  height: auto;
  width: 60%;
  cursor: pointer;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.btn-menu {
  text-transform: uppercase;
}

.menu {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.menu-item {
  flex-basis: 11%;
  text-decoration: none;
  color: white;
}

.icon-menu {
  height: auto;
  width: 5%;
}

.compte-box {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compte-box p {
  color: #fff;
  padding: 0px 20px 0px 20px;
}

.dropbtn {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  color: #fff;
  font-family: CeraMedium;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 12px 0px;
}

.dropbtn:hover,
.dropbtn:focus {
  /*background-color: #2980B9;*/
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-box {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-box a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-box a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* -------------------- Header -------------------- */

.header-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: /*linear-gradient(rgba(0, 21, 56, .5), rgba(0, 21, 56, .5)) ,*/url(../img/fond_header.png);
  background-position: center;
  background-size: cover;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #21c4fd;
  padding-bottom: 10px;
  margin-top: 100px;
  width: 40%;
}

.search-bar {
  flex-basis: 90%;
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-family: CeraLight;
  font-size: 1.5rem;
}

.search-bar::placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: CeraLight;
}

.search-bar:focus {
  background: none;
  border: none;
  outline: none;
}

.icon-recherche {
  height: auto;
  width: 10%;
  padding-right: 10px;
}

/* -------------------- Ressources Éducatives -------------------- */

.ressourceEducative {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #001538;
  height: 100%;
  position: relative;
  z-index: 4;
}

.ressourceBox {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.ressourceContainer {
  flex-basis: 30%;
  border: 2px solid #21c4fd;
  background-color: #002250;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ressource-info {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}

.ressource-img {
  height: 40%;
}

.info h4 {
  font-family: CeraBold;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: underline #21c4fd;
}

.text {
  padding: 20px 0px 10px 0px;
  font-size: 1.2rem;
}

.date {
  font-size: 0.8rem;
}

.tags {
  display: flex;
}

.tags p {
  padding: 5px 10px;
  margin-right: 20px;
  background-color: #003a9a;
  font-family: CeraLight;
}

/* -------------------- Mission et Historique -------------------- */

.missionHistorique {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  position: relative;
  background-image: url(../img/fond_mission.png);
}

.histoire-text{
  width: 60%;
  display: flex;
  align-items: left;
}

.histoireBtn a {
  text-decoration: none;
  color: white;
}

.histoireBtn {
  background: #009999;
  width: 15vw;
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.histoireBtn:hover {
  background: white;
}
.histoireBtn:hover a {
  color: black;
}

/* -------------------- Projets et Nouveauté -------------------- */

.projetNouveauté {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #001538;
  height: 100%;
  position: relative;
  z-index: 4;
}

.projetNouveauté article {
  z-index: 1;
}

.project-box {
  width: 60%;
}

.project-container {
  border: 2px solid #21c4fd;
  background-color: #002250;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project-info {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}

.project-img {
  height: 250px;
}

.projet-date {
  padding: 25px 0;
}

/* -------------------- Nous Soutenir -------------------- */

.nousSoutenir {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-image: url(../img/fond_soutenir.png);
  background-position: center;
  background-size: cover;
}

.supportBtn a {
  text-decoration: none;
  color: white;
}

.supportBtn {
  background: #009999;
  width: 15vw;
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supportBtn:hover {
  background: white;
}
.supportBtn:hover a {
  color: black;
}

/* -------------------- Média Sociaux -------------------- */

.mediaSociaux {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #001538;
  height: 100%;
  position: relative;
  z-index: 4;
}

.media-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 200px;
}

.media {
  flex-basis: 30%;
  height: 600px;
  border: 2px solid #21c4fd;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-facebook {
  background-image: url(../img/pugholder.png);
}

.img-tiktok {
  background-image: url(../img/pugholder_2.jpg);
  transform: translate(0, 200px);
}

.img-instagram {
  background-image: url(../img/pugholder_3.jpg);
}

.logo-relatif {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------- Partenaire -------------------- */

.partenaireContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-image: url(../img/fond_partenaire.png);
  background-position: center;
  background-size: cover;
}
.partenaire {
  display: flex;
}

.logo-partenaire {
  width: 80%;
  height: auto;
}

/* -------------------- Blogue -------------------- */

.blogue {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #001538;
  height: 100%;
  position: relative;
  z-index: 4;
}

/* -------------------- Équipage -------------------- */

.équipage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.equipage-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.colonneEquipage{
  flex-basis: 45%;
  text-align: center;
}

.imgEquipage{
  height: auto;
  width:65%;
}



/* -------------------- Contact -------------------- */

.contactSpace {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
} /*

.barrePrenom {
  border-top: 2px solid #00e600;
  width: 99px;
  position: absolute;
  left: 481px;
}

.barrenom {
  border-top: 2px solid #00e600;
  width: 126px;
  position: absolute;
  left: 454px;
}
.barreCourriel {
  border-top: 2px solid #00e600;
  width: 100px;
  position: absolute;
  left: 481px;
}
.barreSujet {
  border-top: 2px solid #00e600;
  width: 120px;
  position: absolute;
  left: 460px;
}

.barreMessage {
  border-top: 2px solid #00e600;
  width: 30px;
  position: absolute;
  left: 542px;
}*/
